{% extends "reviews/base.html" %}

{% block title %}
Your Review
{% endblock %}

{% block content %}
  <form action="/" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-control {% if field.user_name.errors %}errors{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}

    {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
      {{ form.user_name.label_tag }}
      {{ form.user_name }}
      {{ form.user_name.errors }}
    </div> {% endcomment %}

    {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
      {{ form.review_text.label_tag }}
      {{ form.review_text }}
      {{ form.review_text.errors }}
    </div> {% endcomment %}

    {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
      {{ form.rating.label_tag }}
      {{ form.rating }}
      {{ form.rating.errors }}
    </div> {% endcomment %}

    <button type="submit">Send</button>
  </form>
{% endblock %}